.news-container {
  max-width: 375px;
  max-height: 500px;
  background-color: var(--bs-grey50);
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.thumbnail-news {
  background: url("../../assets/img/news.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 250px;
  z-index: 1;
}

.fade-img {
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))); 
  mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  width: 94%;
  margin-top: 3%;
  height: 250px;
}

.body-container{
  margin-left: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-top: -5%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: column;
}

.news-title{
  font-family: ('roboto-bold');
}

.cardbutton {
  width: fit-content;
  align-self: flex-end;
  margin-bottom: 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  font-family: ('roboto-bold');
}