<div class="container">
  <div class="row">
    <div class="col-lg-3 news-container" *ngFor="let n of news">
      <div class="fade-img">
        <div class="thumbnail-news">
          <img src={{n.src}} alt="News">
        </div>
      </div>
      <div class="body-container">
        <h2 class="news-title">{{n.titolo}}</h2>
        <p>{{n.descrizione}}</p>
        <button class="btn button-outline i cardbutton">
          <div class="buttonlabel bold">Scopri di più</div>
          <i class="bi bi-arrow-right-short"></i>
        </button>
      </div>
    </div>
  </div>
</div>