<div class="card-corso">
  <figure>
    <img src="assets/img/banner-chisiamo.jpg" alt="Image" width="100%" height="267" />
    <figcaption>
      <h1 class="header_title">LA FONDAZIONE</h1>

    </figcaption>
  </figure>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <div class="treck_container">
              <h5 class="treck-text">Home</h5>
            </div>
          </li>
          <li class="page-item">
            <div class="treck">
              <i class="pi pi-angle-right"></i>
            </div>
          </li>
          <li class="page-item">
            <div class="treck_container">
              <h5 class="treck-text">Chi-siamo</h5>
            </div>
          </li>
        </ul>
      </nav>
    </div>
    <div class="row justify-content-center ">
      <div class="col-10 info_container">

        <h5>

          La Fondazione nasce nel 2010 con l’obiettivo di creare un Istituto Tecnico Superiore rivolto
          all’innovazione, all’informatica e al mondo digitale.
        </h5>
        <h5>
          Siamo una fondazione e una scuola che vuole favorire lo sviluppo economico formando giovani esperti
          informatici con corsi post diploma.
        </h5>
        <h5>
          Il nostro nome completo è Istituto Tecnico Superiore Kennedy ICT: non confonderci con l’ITST Kennedy di
          Pordenone, l’Istituto Tecnico Settore Tecnologico che ti porta al diploma.
          La nostra figura nazionale di riferimento è il Tecnico Superiore per i metodi e le tecnologie per lo
          sviluppo dei sistemi software che ogni anno si concretizza in uno specifico profilo professionale in ambito
          informatico.
        </h5>

      </div>



    </div>



    <div class="row justify-content-center  offerts_row  ">

      <div class="col-md-5 offerts_container">
        <div class="col container_offerts">
          <div class="col img_offerts">
            <img width="150px"  src="../../assets/img/icon_coding.png" alt="Imagine Specializzazione" srcset="">
          </div>
          <div class="col title_txt">
            <h3>Specializzazione</h3>
          </div>
          <div class="col description_txt">
            <p>In Veneto e in Friuli siamo gli unici con indirizzi informatici
              Proponiamo corsi post diploma di specializzazione tecnica.
              Per partecipare alle selezioni devi possedere il diploma di scuola superiore</p>
          </div>
        </div>
      </div>
      <div class="col-md-5 offerts_container">
        <div class="col container_offerts">
          <div class="img_offerts">
            <img width="150px"  src="../../assets/img/icon_speed.png" alt="Imagine Speed" srcset="">
          </div>
          <div class="txt_offerts">
            <h3 class="title_txt">Velocità</h3>


            <p class="description_txt">800h di stage in aziende in crescita
              2 anni scolastici, 2000 ore totali di cui 800 di stage in aziende del settore, anche all’estero grazie
              al
              progetto Erasmus</p>
          </div>
        </div>
      </div>

    </div>

    <div class="row justify-content-center  offerts_row  ">

      <div class="col-md-5 offerts_container">
        <div class="col container_offerts">
          <div class="img_offerts">
            <img width="150px"  src="../../assets/img/icon_stage.png" alt="Imagien Lavoro" srcset="">
          </div>
          <div class="title_txt">
            <h3>Lavoro</h3>
          </div>
          <div class="description_txt">
            <p>Possibilità di colloqui con aziende durante gli anni
              Le aziende collaborano indicando alla Fondazione ITS i profili di cui hanno bisogno all’interno della loro
              struttura: l’obiettivo è farti lavorare dopo il diploma.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-5 offerts_container">
        <div class="col container_offerts">
          <div class="img_offerts">
            <img  width="150px"  src="../../assets/img/icon_pratica.png" alt="" srcset="">
          </div>
          <div class="txt_offerts">
            <h3 class="title_txt">Pratica</h3>


            <p class="description_txt">90% docenti derivano da imprese ICT
              L’approccio alle materie insegnate è pratico, i docenti provengono dal mondo del lavoro,
              per questo lo conoscono bene e sanno di cosa hai bisogno per riuscire.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row justify-content-center offerts_row ">

    <div class="col-md-5 container_v ">
      <div class="col container_offerts">
        <div class="img_offerts">
          <img width="150px" src="../../assets/img/icon_diplom.png" alt="" srcset="">
        </div>
        <div class="title_txt">
          <h3>Diploma di Tecnico Superiore
            EUROPASS Diploma Supplement</h3>
        </div>
        <div class="description_txt">
          <p>Agli allievi che frequentano l’80% del monte ore totale e superano l’esame di Stato finale rilasciamo il
            Diploma di Tecnico Superiore. Il titolo di studio si colloca al V livello del Quadro europeo delle
            qualifiche – EQF
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-5 container_v  ">
      <div class="col container_offerts">
        <div class="img_offerts">
          <img width="150px"  class="img_cmp" src="../../assets/img/icon_intern.png" alt="" srcset="">
        </div>
        <div class="txt_offerts">
          <h3 class="title_txt">Internazionale</h3>


          <p class="description_txt">5° livello del Quadro Europeo delle Qualifiche
            Il Diploma di Tecnico Superiore è corredato dall’Europass Diploma Supplement che traducendo in lingua
            Inglese le competenze acquisite, ne valorizza il titolo rendendolo spendibile all’estero.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center ">
    <div class="col-md-10 container_corsi">
        <div class="col-md title_box">
        <h2>Sei tu il talento che l’informatica sta cercando?
        </h2>
    </div>
        <div class="col-md description_txt">
        <p>In 2 anni puoi diventare un professionista dell’informatica
            e trovare un posto di lavoro che ti soddisfi con il nostro supporto e i nostri corsi di studi.</p>
        </div>
        <div class="row justify-content-center ">
        <div class="col-md-4 ">
            <button type="button" class="btn button_corsi"><h3 class="btn_txt">Vedi tutti i corsi</h3></button>
        </div>
        </div>
    </div>
    
    
</div>

</div>
