<div class="card-corso">
  <figure>
    <img src="assets/img/banner-chisiamo.jpg" alt="Image" width="100%" height="267" />
    <figcaption>
      <h1 class="title_page">LA FONDAZIONE</h1>

    </figcaption>
  </figure>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <div class="treck_container">
                        <h5 class="treck-text">Home</h5>
                    </div>
                </li>
                <li class="page-item">
                    <div class="treck">
                        <i class="pi pi-angle-right"></i>
                    </div>
                </li>
                <li class="page-item">
                    <div class="treck_container">
                        <h5 class="treck-text">Chi-siamo</h5>
                    </div>
                </li>
            </ul>
      </nav>
    </div>
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="info_container">
                <h4>

La Fondazione nasce nel 2010 con l’obiettivo di creare un Istituto Tecnico Superiore rivolto all’innovazione, all’informatica e al mondo digitale.
</h4><h4>
Siamo una fondazione e una scuola che vuole favorire lo sviluppo economico formando giovani esperti informatici con corsi post diploma.
</h4><h4>
Il nostro nome completo è Istituto Tecnico Superiore Kennedy ICT: non confonderci con l’ITST Kennedy di Pordenone, l’Istituto Tecnico Settore Tecnologico che ti porta al diploma.
La nostra figura nazionale di riferimento è il Tecnico Superiore per i metodi e le tecnologie per lo sviluppo dei sistemi software che ogni anno si concretizza in uno specifico profilo professionale in ambito informatico.
</h4>
            
            </div>
        </div>
    </div>

  </div>


  
</div>
