<div class="container-imagehome">
    <div class="row">
        <div class="col-6">
            <div class="card card-schoolimage">
                <div class="card-body">
                    <div class="row">
                        <h1 class="card-title">CHI SIAMO...</h1>
                        <p class="card-text">Gli ITS sono scuole di eccellenza ad alta specializzazione tecnologica.
                            Promuovono corsi post diploma di specializzazione tecnica che hanno un approccio pratico
                            alle materie e una forte relazione con le aziende facilitando allo studente
                            l’inserimento nel mondo del lavoro.</p>
                    </div>
                    <hr>
                    <form [formGroup]="chartsForm">
                        <div class="row chart-row">
                            <div class="col-4 chart-column">
                                <p-knob formControlName="chart1" valueTemplate={{chart1Value}} [readonly]=true [min]="0" [max]="100"
                                    valueColor="#F4362F">
                                </p-knob>
                                <div style="text-align: center;">
                                    <p>Tasso di occupazione dei diplomati ITS</p>
                                </div>
                            </div>
                            <div class="col-4 chart-column">
                                <p-knob formControlName="chart2" valueTemplate={{chart2Value}} [readonly]=true [min]="0" [max]="100"
                                    valueColor="#F4362F"></p-knob>
                                <div style="text-align: center;">
                                    <p>Tasso di impiego coerente con il percorso di studio</p>
                                </div>
                            </div>
                            <div class="col-4 chart-column">
                                <p-knob formControlName="chart3" valueTemplate={{chart3Value}} [readonly]=true [min]="0" [max]="100"
                                    valueColor="#F4362F">
                                </p-knob>

                                <div style="text-align: center;">
                                    <p>Docenza proveniente dal mondo imprenditoriale</p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="card-button-row">
        <div class="column-card-button">
            <div class="card card-button">
                <div class="row">
                    <div class="col-4 image-card-button">
                        <img src="../../assets/images/student.jpg" alt="Scuole">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h3 class="card-title">Sei uno studente?</h3>
                            <p class="card-text">Scopri i nostri corsi formativi e scegli quello che più ti
                                interessa.
                            </p>
                            <button type="button" class="btn button-fill">
                                <i class="bi bi-book"></i>
                                Scopri di più
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column-card-button">
            <div class="card card-button">
                <div class="row">
                    <div class="col-4 image-card-button">
                        <img src="../../assets/images/company.jpg" alt="Aziende">
                    </div>
                    <div class="col-8">
                        <div class="card-body ">
                            <h3 class="card-title ">Sei un'azienda?</h3>
                            <p class="card-text ">Seleziona tra i nostri studenti i profili più adatti per te. </p>
                            <button type="button " class="btn button-fill">
                                <i class="bi bi-building"></i>
                                Scopri di più
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>