<div class="news_details">
    <div class="news_details_wallpaper background-image-heading">
        <div class="blurred-background-title">
        <h1>PRIMO UOMO SULLA LUNA</h1>
        </div>
    </div>
    <div class="news_details_breadcrumb">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <div class="treck_container_home">
                <h5 class="treck-text">Home</h5>
              </div>
            </li>
            <li class="page-item">
              <div class="treck">
                  <i class="bi bi-caret-right-fill"></i>
              </div>
            </li>
            <li class="page-item">
              <div class="treck_container">
                <h5 class="treck-text">News</h5>
              </div>
            </li>
            <li class="page-item">
                <div class="treck">
                    <i class="bi bi-caret-right-fill"></i>
                </div>
              </li>
              <li class="page-item">
                <div class="treck_container">
                  <h5 class="treck-text">Primo uomo sulla luna</h5>
                </div>
              </li>
          </ul>
        </nav>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: space-around; flex-wrap: nowrap;">
      <div class="news_details_text">
          <h3 class="h3_bold">Viva la luna!</h3>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non sem est. Proin sed mauris ut eros pharetra convallis non quis metus. In lacinia massa neque, posuere finibus sem sagittis sed. Fusce ac posuere lorem. Nulla facilisi. Donec lectus libero, hendrerit vitae erat et, pellentesque viverra dolor. Aliquam sed egestas metus, non vestibulum justo. Nulla quam ligula, dictum non malesuada eu, luctus nec neque. Nulla eget nibh id ipsum vehicula posuere eget eget erat. Morbi commodo, mauris vitae malesuada pellentesque, neque urna aliquam diam, sit amet auctor elit ligula a lorem. Donec sollicitudin congue ante, ac dictum est commodo sed. Proin et feugiat augue. Nunc non enim lorem.</p>
          <p>
              Aenean commodo, erat quis lacinia dictum, metus elit porttitor mauris, nec scelerisque velit eros eget mi. Quisque elementum elit nisl, sed eleifend arcu egestas quis. Proin egestas metus eu diam scelerisque, sed commodo massa accumsan. Proin nec ipsum eu felis pellentesque pharetra vel vel orci. Aliquam erat volutpat. Vivamus id scelerisque orci, in efficitur nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed condimentum aliquet eros at vulputate.
          </p>
          <h3 class="h3_bold">E anche viva il sole!</h3>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non sem est. Proin sed mauris ut eros pharetra convallis non quis metus. In lacinia massa neque, posuere finibus sem sagittis sed. Fusce ac posuere lorem. Nulla facilisi. Donec lectus libero, hendrerit vitae erat et, pellentesque viverra dolor. Aliquam sed egestas metus, non vestibulum justo. Nulla quam ligula, dictum non malesuada eu, luctus nec neque. Nulla eget nibh id ipsum vehicula posuere eget eget erat. Morbi commodo, mauris vitae malesuada pellentesque, neque urna aliquam diam, sit amet auctor elit ligula a lorem. Donec sollicitudin congue ante, ac dictum est commodo sed. Proin et feugiat augue. Nunc non enim lorem.</p>
          <p>
              Aenean commodo, erat quis lacinia dictum, metus elit porttitor mauris, nec scelerisque velit eros eget mi. Quisque elementum elit nisl, sed eleifend arcu egestas quis. Proin egestas metus eu diam scelerisque, sed commodo massa accumsan. Proin nec ipsum eu felis pellentesque pharetra vel vel orci. Aliquam erat volutpat. Vivamus id scelerisque orci, in efficitur nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed condimentum aliquet eros at vulputate.
          </p>
      </div>
      <div class="news_details_box">
        <div class="news_details_box_header">
          <h2>Potrebbero interessarti</h2>
        </div>
        <div>
          <div class="news_details_box_news1" style="display: flex; flex-direction: row; justify-content: space-around; align-items: center;">
            <div class="news_details_box_news1_divlogo">
              <img src="https://www.insidemarketing.it/wp-content/uploads/2019/05/breaking-news-definizione.jpg" alt="news 1" class="news_details_box_news1_divlogo_img img-fluid">
            </div>
            <div class="news_details_box_news_divtext">
              <h3 style="margin: 0;">PLUTO</h3>
              <p style="margin: 0;">E PIPPO TANTA COCA</p>
            </div>
            <i style="color: red; font-size: 50px; cursor: pointer;"class="bi bi-arrow-right"></i>
          </div>
          <hr style="margin-left: 10px; margin-right: 10px;">
        </div>
        <div>
          <div class="news_details_box_news1" style="display: flex; flex-direction: row; justify-content: space-around; align-items: center;">
            <div class="news_details_box_news1_divlogo">
              <img src="https://www.insidemarketing.it/wp-content/uploads/2019/05/breaking-news-definizione.jpg" alt="news 1" class="news_details_box_news1_divlogo_img img-fluid">
            </div>
            <div class="news_details_box_news_divtext">
              <h3 style="margin: 0;">PLUTO</h3>
              <p style="margin: 0;">E PIPPO TANTA COCA</p>
            </div>
            <i style="color: red; font-size: 50px; cursor: pointer;"class="bi bi-arrow-right"></i>
          </div>
          <hr style="margin-left: 10px; margin-right: 10px;">
        </div>
        <div>
          <div class="news_details_box_news1" style="display: flex; flex-direction: row; justify-content: space-around; align-items: center;">
            <div class="news_details_box_news1_divlogo">
              <img src="https://www.insidemarketing.it/wp-content/uploads/2019/05/breaking-news-definizione.jpg" alt="news 1" class="news_details_box_news1_divlogo_img img-fluid">
            </div>
            <div class="news_details_box_news_divtext">
              <h3 style="margin: 0;">PLUTO</h3>
              <p style="margin: 0;">E PIPPO TANTA COCA</p>
            </div>
            <i style="color: red; font-size: 50px; cursor: pointer;"class="bi bi-arrow-right"></i>
          </div>
          <hr style="margin-left: 10px; margin-right: 10px;">
        </div>
        <div>
          <div class="news_details_box_news1" style="display: flex; flex-direction: row; justify-content: space-around; align-items: center;">
            <div class="news_details_box_news1_divlogo">
              <img src="https://www.insidemarketing.it/wp-content/uploads/2019/05/breaking-news-definizione.jpg" alt="news 1" class="news_details_box_news1_divlogo_img img-fluid">
            </div>
            <div class="news_details_box_news_divtext">
              <h3 style="margin: 0;">PLUTO</h3>
              <p style="margin: 0;">E PIPPO TANTA COCA</p>
            </div>
              <i style="color: red; font-size: 50px; cursor: pointer;"class="bi bi-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>

</div>
