figure,
figcaption {
  margin: 0;
  padding: 0;
}

figure {
  display: inline-block;
  position: relative;
}

figure img {
  display: block;
}

figure figcaption {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--bs-grey200);
  backdrop-filter: blur(30px);
  color: var(--bs-gray900);
  padding: 10px;
  border-radius: 5px;
  width: 595px;
  height: 154px;
  opacity: 70%;
}

.card-corso {
  overflow-x: hidden;
}

.card {
  background-color: var(--bs-grey100);
  border-radius: inherit;
  border: none;
  margin-top: 2%;
  margin-right: 5%;
  margin-left: 2%;
  border-radius: 10px;
}

.form-row {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  margin-top: 2%;
  padding: 0;
}

.textArea {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  margin-top: 2%;
  padding: 0;
}

input {
  border: none;
}

h1 {
  color: var(--bs-gray900);
}

h3 {
  margin-left: 5%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.btn-primary-700 {
  background-color: var(--bs-primary700);
  color: white;
}

.button {
  margin-right: 5%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.yellowed {
  background-color: #FBFF3E;
  opacity: 50%;
}

.allertText {
  margin: 2%;
}
