<div class="card-corso">
  <figure>
    <img src="../../assets/images/chairs.png"
         alt="Image"
         width="100%" />
    <figcaption>
      <h1>ISCRIZIONE SELEZIONI FRONT END & USER DEVELOPER</h1>
    </figcaption>
  </figure>

  <div class="row">
    <div class="col-sm-4">
      Modulo d'iscrizione
    </div>
    <div class="col-sm-8">

      <form>
        <div class="personal-info rounded">
          <h3>I tuoi dati anagrafici</h3>
          <div class="form-row">
            <div class="form-floating mb-3 col-md-6">
              <input type="text" class="form-control" id="floatingName" placeholder="Nome">
              <label for="floatingName">Nome *</label>
            </div>
            <div class="form-floating mb-3 col-md-6">
              <input type="text" class="form-control" id="floatingSurname" placeholder="Cognome">
              <label for="floatingSurname">Cognome *</label>
            </div>
          </div>

          <div class="form-row">
            <div class="form-floating mb-3 col-md-3">
              <input type="date" class="form-control" placeholder="Data di nascita">
              <label for="navigators">Data di nascita *</label>
            </div>
            <div class="form-floating mb-3 col-md-5">
              <input type="text" class="form-control" id="floatingBirthPlace" placeholder="Luogo di nascita">
              <label for="floatingBirthPlace">Luogo di nascita *</label>
            </div>
            <div class="form-floating mb-3 col-md-4">
              <input type="text" class="form-control" id="floatingCode" placeholder="Codice fiscale">
              <label for="floatingCode">Codice fiscale *</label>
            </div>
          </div>

          <div class="form-row">
            <div class="form-floating mb-3 col-md-5">
              <input type="text" class="form-control" id="floatingCity" placeholder="Città">
              <label for="floatingCity">Città di residenza *</label>
            </div>
            <div class="form-floating mb-3 col-md-5">
              <input type="text" class="form-control" id="floatingAddress" placeholder="Via">
              <label for="floatingAddress">Via *</label>
            </div>
            <div class="form-floating mb-3 col-md-2">
              <input type="text" class="form-control" id="floatingNumber" placeholder="N">
              <label for="floatingNumber">N° *</label>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary-700">Sign in</button>
      </form>

    </div>
  </div>
</div>
