<div class="openday-container">
  <div class="openday-header row">
      <i class="bi bi-geo-alt-fill col-sm-1" style="font-size: 2rem"></i>
    <div class="title col-sm-10">
      <h4>Pordenone, Via Prasecco</h4>
    </div>
  </div>
  <div class="openday-content row">
    <div class="col">
      <i class="bi bi-calendar3" style="font-size: 8rem"></i>
    </div>
    <div class="date-container col">
      <h2 class="bold">02</h2>
      <h3 class="margin-top: -2%">Giugno</h3>
      <h3 class="light margin-top: -2%">lun 09:00</h3>
    </div>
  </div>
  <button class="btn button-outline i cardbutton">
    <div class="buttonlabel bold">Vai al corso</div>
    <i class="bi bi-arrow-right-short"></i>
  </button>
</div>
