<!--<div class="news_wallpaper">
    <figure>
        <img src="../../assets/img/Front End.jpg" alt="News wallpaper" class="news_wallpaper_image">
        <figcaption><h3 class="news_wallpaper_title h3bold">FRONT END & UX DEVELOPER</h3></figcaption>
    </figure>
</div>-->
<div class="background-image-heading classe_personalizzata_con_immagine_di_bg">
    <div class="blurred-background-title">
      <h1>FRONT END & UX DEVELOPER</h1>
    </div>
</div>

<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <div class="treck_container">
                    <a href="#"><h5 class="treck-text">Home</h5></a>
                </div>
            </li>
            <li class="page-item">
                <div class="treck">
                    <i class="pi pi-angle-right"></i>
                </div>
            </li>
            <li class="page-item">
                <div class="treck_container">
                    <a href="#"><h5 class="treck-text">Corsi</h5></a>
                </div>
            </li>
            <li class="page-item">
                <div class="treck">
                    <i class="pi pi-angle-right"></i>
                </div>
            </li>
            <li class="page-item">
                <div class="treck_container">
                    <a href="#"><h5 class="treck-text">Front End & UX Developer</h5></a>
                </div>
            </li>
        </ul>
    </nav>
    <div class="row">
        <div class="col-12 col-lg-7 col-md-12 col-sm-12 attivita">
            <div id="accordion">
                <div class="card sfondo-card">
                    <button class="card-header titolo-card" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" [ngClass]="editBorder(1)" (click)="activetab(1)" (click)="noActiveTab()">
                        Attività principali <i class="" [ngClass]="editIcon(1)" style="float: right;"></i>
                    </button>
            
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>

                <div class="card sfondo-card" style="margin-top: 32px;">
                    <button class="collapsed card-header titolo-card" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" [ngClass]="editBorder(2)" (click)="activetab(2)" (click)="noActiveTab()">
                        Sbocchi occupazionali <i class="" [ngClass]="editIcon(2)" style="float: right;"></i>
                    </button>

                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>

                <div class="card sfondo-card" style="margin-top: 32px;">
                    <button class="collapsed card-header titolo-card" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" [ngClass]="editBorder(3)" (click)="activetab(3)" (click)="noActiveTab()">
                        Obiettivi formativi <i class="" [ngClass]="editIcon(3)" style="float: right;"></i>
                    </button>

                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>

                <div class="card sfondo-card" style="margin-top: 32px;">
                    <button class="collapsed card-header titolo-card" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" [ngClass]="editBorder(4)" (click)="activetab(4)" (click)="noActiveTab()">
                         Tecnologie e strumenti <i class="" [ngClass]="editIcon(4)" style="float: right;"></i>
                    </button>    
                    
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-12 col-sm-12 col-lg-1 my-3"></div>

        <div class="col-12 col-lg-4 col-md-12 col-sm-12 info">
            <div class="card bordi-alti">
                <div class="card-header titolo-card-grigia bordi-alti" disabled>
                    Sedi
                </div>
                <div class="card-body align-middle text-center">
                    <div class="row"><h4>Pordenone</h4> <p>Villa Fabris, Via Trieste, 43, Thiene (VI)</p> </div>
                    <hr>
                    <div class="row"><h4>Pordenone</h4> <p>Villa Fabris, Via Trieste, 43, Thiene (VI)</p> </div>
                </div>
            </div>
        
            <div class="card bordi-alti" style="margin-top: 24px;">
                <div class="card-header titolo-card-grigia bordi-alti" disabled>
                    Durata
                </div>
                <div class="card-body align-middle text-center">
                    <div class="row">
                        <div class="col-6">
                            <h4>Partenza corso</h4>
                            Ottobre 2020
                        </div>
                        <div class="col-6">
                            <h4>Esami finali</h4>
                            Luglio 2022
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <h4>Formazione in aula</h4>
                        <p style="text-align: center;">680 ore (primo anno) / 504 ore (secondo anno)</p>
                    </div>

                    <hr>

                    <div class="row">
                        <h4>Stage in azienda</h4>
                       <p style="text-align: center;">320 ore (primo anno) / 480 ore (secondo anno)</p>
                    </div>
                </div>
            </div>
            
            <div class="card bordi-alti" style="margin-top: 24px;">
                <div class="card-header titolo-card-grigia bordi-alti" disabled>
                    Info
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <h4>Telefono:</h4>
                        </div>
                        <div class="col-7">
                            <p class="text-right">0445 576483</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5">
                            <h4>E-mail:</h4>
                        </div>
                        <div class="col-7">
                            <p class="text-right">thiene@tecnicosuperiorekennedy.it</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="card bordi-alti" style="margin-top: 24px;">
        <div class="card-header titolo-card bordi-alti" disabled> <!-- fare prove con text-align qua invece che sopra -->
            Iscriviti alle selezioni
        </div>

        <div class="card-body">

            <!--<div class="row">
                <div class="col-3 col-lg-2 col-md-3 col-sm-3 align-middle text-center"  style="margin: auto;">
                    <div class="row"><h2>02</h2></div>
                    <div class="row"><h3>Giugno</h3></div>
                    <div class="row"><h4>lun 09:00</h4></div>
                </div>
                <div class="col-9 col-lg-6 align-middle text-center"  style="margin: auto;">
                    <h4>Pordenone</h4> Fondazione Villa Fabris, Via Trieste, 43, Thiene (VI)
                </div>
                <!-<div class="col-3 col-lg-0" style="opacity: unset;"></div>->
                <div class="col-9 col-lg-2 align-middle text-center"  style="margin: auto;">
                    <div class="row">30 posti disponibili</div>
                </div>
                <div class="col-2 align-middle text-center"  style="margin: auto;">
                    <button type="button" class="btn button-fill" style="width: 100%;">Iscriviti</button>
                </div>
            </div>-->

            <div class="row">
                <div class="col-3 col-lg-2 col-md-3 col-sm-3 align-middle text-center"  style="margin: auto;">
                    <div class="row"><h2>02</h2></div>
                    <div class="row"><h3>Giugno</h3></div>
                    <div class="row"><h4>lun 09:00</h4></div>
                </div>
                <div class="col-9 col-lg-10 col-md-9 col-sm-9 align-middle text-center" style="margin: auto;">
                    <div class="row align-middle text-center" style="margin: auto;">
                        <div class="col-12 col-lg-6 col-md-12 col-sm-12 align-middle text-center">
                            <h4>Pordenone</h4> Fondazione Villa Fabris, Via Trieste, 43, Thiene (VI)
                        </div>
                        <div class="col-12 col-lg-4 col-md-12 col-sm-12 align-middle text-center" style="margin-top: 25px;">
                            <p>30 posti disponibili</p>
                        </div>
                        <div class="col-12 col-lg-2 col-md-12 col-sm-12 align-middle text-center" style="margin-top: 15px;">
                            <button type="button" class="btn button-fill" style="width: 100%;">Iscriviti</button>
                        </div>
                    </div>
                </div>
            </div>

            <hr style="margin-top: 15px; margin-bottom: 15px;">

            <div class="row">
                <div class="col-3 col-lg-2 col-md-3 col-sm-3 align-middle text-center"  style="margin: auto;">
                    <div class="row"><h2>02</h2></div>
                    <div class="row"><h3>Giugno</h3></div>
                    <div class="row"><h4>lun 09:00</h4></div>
                </div>
                <div class="col-9 col-lg-10 col-md-9 col-sm-9 align-middle text-center" style="margin: auto;">
                    <div class="row align-middle text-center" style="margin: auto;">
                        <div class="col-12 col-lg-6 col-md-12 col-sm-12 align-middle text-center">
                            <h4>Pordenone</h4> Fondazione Villa Fabris, Via Trieste, 43, Thiene (VI)
                        </div>
                        <div class="col-12 col-lg-4 col-md-12 col-sm-12 align-middle text-center" style="margin-top: 25px;">
                            <p>2 posti disponibili <span *ngIf="true"><i class="bi bi-exclamation-circle-fill" style="color: red;"></i> </span>  </p>
                        </div>
                        <div class="col-12 col-lg-2 col-md-12 col-sm-12 align-middle text-center" style="margin: auto;">
                            <button type="button" class="btn button-fill" style="width: 100%;">Iscriviti</button>
                        </div>
                    </div>
                </div>
            </div>

            <hr style="margin-top: 15px; margin-bottom: 15px;">

            <div class="row align-middle text-center">
                <div class="col-12 col-lg-2 col-md-12 col-sm-12 align-middle text-center"  style="margin: auto;">
                    <div class="row align-middle text-center">
                        <div class="col-4 col-sm-4 col-md-4 col-lg-12">
                            <h2>02</h2>
                        </div>
                        <div class="col-4 col-sm-4 col-md-4 col-lg-12">
                            <h3>Giugno</h3>
                        </div>
                        <div class="col-4 col-sm-4 col-md-4 col-lg-12">
                            <h4>lun 09:00</h4>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-5 align-middle text-center" style="margin: auto;">
                    <h4>Pordenone</h4> Fondazione Villa Fabris, Via Trieste, 43, Thiene (VI) 
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 align-middle text-center" style="margin: auto;">
                    <p>2 posti disponibili <span *ngIf="true"><i class="bi bi-exclamation-circle-fill" style="color: red;"></i> </span>  </p>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-2 align-middle text-center"  style="margin: auto;">
                    <button type="button" class="btn button-fill" style="width: 100%;">Iscriviti</button>
                </div>

            </div>

            <!--<hr style="margin-top: 15px; margin-bottom: 15px;">

            <div class="row align-middle text-center">
                <div class="col-2 align-middle text-center">
                    <div class="row"><h2>02</h2></div>
                    <div class="row"><h3>Giugno</h3></div>
                    <div class="row"><h4>lun 09:00</h4></div>
                </div>
                <div class="col-6 align-middle text-center">
                    <h4>Pordenone</h4> Fondazione Villa Fabris, Via Trieste, 43, Thiene (VI) 
                </div>
                <div class="col-2 align-middle text-center">
                    <p style="margin-top: 25px;">2 posti disponibili <span *ngIf="true"><i class="bi bi-exclamation-circle-fill" style="color: red;"></i> </span>  </p>
                </div>
                <div class="col-2 align-middle text-center"  style="margin-top: 15px;">
                    <button type="button" class="btn button-fill" style="width: 100%;">Iscriviti</button>
                </div>

            </div>-->

        </div>

    </div>

    <div class="card bordi-alti" style="margin-top: 24px;">
        <div class="card-header titolo-card bordi-alti" disabled>
            Altri corsi correlati
        </div>

        <div class="card-body">

            <div class="row">
                
                <div class="card-corso col-12 col-sm-12 col-md-12 col-lg-6" style="margin-top: 10px;">
                    <div class="card-container">
                      <h3 class="h3bold cardtitle">FEX</h3>
                      <div class="cardbody">
                        Il corso prepara alla professione di Front End & User Experience, la
                        figura che si occupa di interpretare l’interazione dell’utente con
                        un prodotto...
                      </div>
                      <button class="cardbutton button-outline">
                        <div>Vai al corso</div>
                      </button>
                    </div>
                  </div>

                  <div class="card-corso col-12 col-sm-12 col-md-12 col-lg-6" style="margin-top: 10px;"> 
                    <div class="card-container">
                      <h3 class="h3bold cardtitle">FEX</h3>
                      <div class="cardbody">
                        Il corso prepara alla professione di Front End & User Experience, la
                        figura che si occupa di interpretare l’interazione dell’utente con
                        un prodotto...
                      </div>
                      <button class="cardbutton button-outline">
                        <div>Vai al corso</div>
                      </button>
                    </div>
                  </div>
                
            </div>

        </div>

    </div>

    <div class="separator" style="margin-top: 15px;"><a href="" style="color: var(--bs-primary700);">Scopri tutti i corsi</a></div>
</div>