<div class="background-image-heading blurred-background">
  <div class="blurred-background-title">
    <h1>TUTTI I CORSI</h1>
  </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <div class="treck_container">
        <div class="treck-text">Home</div>
      </div>
    </li>
    <li class="page-item">
      <div class="treck">
        <i class="pi pi-angle-right"></i>
      </div>
    </li>
    <li class="page-item">
      <div class="treck_container">
        <div class="treck-text">Chi-siamo</div>
      </div>
    </li>
  </ul>
</nav>

<h2>CORSI ATTUALI</h2>

<hr />

<div class="lista-container">
  <app-card-corso class="card-corso"></app-card-corso>
  <app-card-corso class="card-corso"></app-card-corso>
  <app-card-corso class="card-corso second-row"></app-card-corso>
  <app-card-corso class="card-corso second-row"></app-card-corso>
</div>

<h2 style="margin-top: 4%">CORSI STORICI</h2>

<hr />

<div class="lista-container">
  <app-card-corso class="card-corso"></app-card-corso>
  <app-card-corso class="card-corso"></app-card-corso>
  <app-card-corso class="card-corso second-row"></app-card-corso>
</div>
