.classe_personalizzata_con_immagine_di_bg{
    background-image: url(../../assets/img/banner-chisiamo.jpg);
  } 
  
.header_title {
  text-align: center;
  margin-top: 35px;
}

.treck_container {
    margin-top: 20px;
    width: auto;
    height: 34px;
    border-radius: 10px;
    background-color: var(--bs-grey100);
    color: var(--bs-primary900);
  
  }
  
  .treck-text {
    padding: 4px;
    text-align: center;
    margin: 5px;
  }
  
  .treck {
    margin-top: 25px;
    color: var(--bs-primary900);
  }
  .icon{
      margin-right: 10px;
     
  }
  .title_container{
      margin: 20px;
      color: var(--bs-primary900);
      
  }
  .container_border{
    padding: 10px;
    border-bottom: 4px solid var(--bs-grey300);
    border-top:4px solid var(--bs-grey300) ;
  }
  a{
      margin-bottom: 10px;
  }
