<div class="row">
  <div class="col">
    <div class="background-image-heading classe_personalizzata_con_immagine_di_bg">
  
      <div class="blurred-background-title">
    <h1>LA FONDAZIONE</h1>
  </div>
</div>
  </div>
</div>

<div class="container-fluid ">
  <div class="row">
    <div class="col">

      <div class="row">
        <div class="col">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <div class=" col treck_container">
                  <h5 class="treck-text">Home</h5>
                </div>
              </li>
              <li class="page-item">
                <div class="col treck">
                  <i class="bi bi-caret-right-fill"></i>
                </div>
              </li>
              <li class="page-item">
                <div class="treck_container">
                  <h5 class="treck-text">Sedi</h5>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col offset-md-1">
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col title_container">
                  <h3>SEDE PRINCIPALE</h3>
                </div>
                <div class="row justify-content-center">
                  <div class="col-md-5">
                    <h4 class="title_sedie">ITS Alto Adriatico</h4>
                    <h5>Consorzio Universitario di Pordenone</h5>
                  </div>

                  <div class="col-md-5 ">
                    <h3>Contatti</h3>
                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <ul class="pagination">
                              <li class="page-item">
                                <div class="row">
                                  <div class="col-md-auto">
                                    <i class="bi bi-envelope icon"></i>
                                    <a href="">segreteria@tecnicosuperiorekennedy.it</a></div>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col">
                            <ul class="pagination">
                              <li class="page-item">
                                <div class="icon">
                                  <i class="bi bi-telephone"></i>
                                </div>
                              </li>
                              <li class="page-item">
                                <p>Telefono: +39 0434 1697221</p>
                              </li>
                            </ul>

                            <ul class="pagination">
                              <li class="page-item">
                                <div class="icon"><i style="color: var(--bs-link);" class="bi bi-geo-alt-fill"></i>
                                </div>
                              </li>
                              <li class="page-item">
                                <p>Via Prasecco, 3a 33170 Pordenone PN</p>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col title_container">
              <h3>ALTRE SEDI</h3>
            </div>

            <div class="row justify-content-center">
              <div class="col-md-5">
                <div class="row">
                  <div class="col">
                    <h4 class="title_sedie">SEDE DI VICENZA</h4>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <div class="row">
                      <div class="col">
                        <ul class="pagination">
                          <li class="page-item">
                            <div class="row">
                              <div class="col-md-auto">
                                <i class="bi bi-envelope icon"></i>
                                <a href="">segreteria@tecnicosuperiorekennedy.it</a></div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <ul class="pagination">
                          <li class="page-item">
                            <div class="icon">
                              <i class="bi bi-telephone"></i>
                            </div>
                          </li>
                          <li class="page-item">
                            <p>Telefono: +39 0434 1697221</p>
                          </li>
                        </ul>

                        <ul class="pagination">
                          <li class="page-item">
                            <div class="icon"><i style="color: var(--bs-link);" class="bi bi-geo-alt-fill"></i></div>
                          </li>
                          <li class="page-item">
                            <p>Via Trieste, 43
                              36016 Thiene (VI)</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="col-md-5 mr-2">
                <h3>SEDE DI PADOVA</h3>
                <div class="row">
                  <div class="col">
                    <div class="row">
                      <div class="col">
                        <ul class="pagination">
                          <li class="page-item">
                            <div class="row">
                              <div class="col-md-auto">
                                <i class="bi bi-envelope icon"></i>
                                <a href="">segreteria@tecnicosuperiorekennedy.it</a></div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <ul class="pagination">
                          <li class="page-item">
                            <div class="icon">
                              <i class="bi bi-telephone"></i>
                            </div>
                          </li>
                          <li class="page-item">
                            <p>Telefono: +39 0434 1697221</p>
                          </li>
                        </ul>

                        <ul class="pagination">
                          <li class="page-item">
                            <div class="icon"><i style="color: var(--bs-link);" class="bi bi-geo-alt-fill"></i></div>
                          </li>
                          <li class="page-item">
                            <p>via E. P. Masini, 2 35100 Padova</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row justify-content-center">
        <div class="col-md-11 container_border">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3242.195219607284!2d12.67985737996973!3d45.95115973152332!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4779635bb0f58dbf%3A0xe10c09c4f642a4e0!2sVia%20Prasecco%2C%203A%2C%20179682%20Pordenone%20PN!5e0!3m2!1sit!2sit!4v1590141387768!5m2!1sit!2sit"
            width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
        </div>
      </div>

    </div>
  </div>
</div>
