<div class="news_list">
  <div class="background-image-heading classe_personalizzata_con_immagine_di_bg">
    <div class="blurred-background-title">
      <h1>TUTTE LE NEWS</h1>
    </div>
  </div>
    <div class="news_bar">
      <div>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <div class="treck_container">
                <h5 class="treck-text">Home</h5>
              </div>
            </li>
            <li class="page-item">
              <div class="treck">
                  <i class="bi bi-caret-right-fill"></i>
              </div>
            </li>
            <li class="page-item">
              <div class="treck_container">
                <h5 class="treck-text">Sedi</h5>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    <div class="searchBar">
      <input type="text" placeholder="Cosa stai cercando...">
      <i id="iconaSearch" class="bi bi-search" (click)="pippo()"></i>
    </div>
    <div class="filter">
      <p>Ordina A-Z</p>
        <i style="font-size: 30px; padding-bottom: 15px;" class="bi bi-funnel-fill"></i>
    </div>
  </div>
    <div class="news_1">
        <img src="../../assets/images/newsImage1.jpg" alt="News image 1" class="news_1_image">
        <div class="news_1_text">
            <h2 class="h2bold">Nuovo corso incredibbile!</h2>
            <h4>C'è un nuovo corso incredibile all'ITS non puoi mancarlo, puoi trovare tutto quello che vuoi, dai dolci alle torte salate, ciao e grazie per il tuo contributo.
            </h4>
            <button type="button" class="btn detailButton">
              Scopri di più <i class="bi bi-arrow-right"></i>
            </button>
        </div>
    </div>
    <div class="news_1">
      <img src="../../assets/images/newsImage1.jpg" alt="News image 1" class="news_1_image">
      <div class="news_1_text">
          <h2 class="h2bold">Nuovo corso incredibbile!</h2>
          <h4>C'è un nuovo corso incredibbile all'ITS non puoi mancarlo, puoi trovare tutto quello che vuoi, dai dolci alle torte salate, ciao e grazie per il tuo contributo.
          </h4>
          <button type="button" class="btn detailButton">
            Scopri di più <i class="bi bi-arrow-right"></i>
          </button>
      </div>
  </div>
  <div class="news_1">
    <img src="../../assets/images/newsImage1.jpg" alt="News image 1" class="news_1_image">
    <div class="news_1_text">
        <h2 class="h2bold">Nuovo corso incredibbile!</h2>
        <h4>C'è un nuovo corso incredibbile all'ITS non puoi mancarlo, puoi trovare tutto quello che vuoi, dai dolci alle torte salate, ciao e grazie per il tuo contributo.
        </h4>
        <button type="button" class="btn detailButton">
          Scopri di più <i class="bi bi-arrow-right"></i>
        </button>
    </div>
</div>
<div class="news_1">
  <img src="../../assets/images/newsImage1.jpg" alt="News image 1" class="news_1_image">
  <div class="news_1_text">
      <h2 class="h2bold">Nuovo corso incredibbile!</h2>
      <h4>C'è un nuovo corso incredibbile all'ITS non puoi mancarlo, puoi trovare tutto quello che vuoi, dai dolci alle torte salate, ciao e grazie per il tuo contributo.
      </h4>
      <button type="button" class="btn detailButton">
        Scopri di più <i class="bi bi-arrow-right"></i>
      </button>
  </div>
</div>
<div id="pagination_news">
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#paginations_news" tabindex="-1"><i class="pi pi-arrow-left"></i> Pagina precedente</a>
    </li>
    <li class="page-item"><a class="page-link" href="#paginations_news">1</a></li>
    <li class="page-item"><a class="page-link" href="#paginations_news">2</a></li>
    <li class="page-item"><a class="page-link" href="#paginations_news">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#paginations_news">Pagina successiva  <i class="pi pi-arrow-right"></i></a>
    </li>
  </ul>
</nav>
</div>
</div>