<div class="news_list">
    <div class="news_wallpaper">
        <figure>
            <img src="../../assets/images/newsWallpaper.jpg" alt="News wallpaper" class="news_wallpaper_image">
            <figcaption><h3 class="news_wallpaper_title h3bold">TUTTE LE NEWS</h3></figcaption>
        </figure>
    </div>
    <div class="news_bar">
      <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <div class="treck_container1">
                <h5 class="treck-text">Home</h5>
              </div>
            </li>
            <li class="page-item">
              <div class="treck">
                <i class="bi bi-angle-right"></i>
              </div>
            </li>
            <li class="page-item">
              <div class="treck_container">
                <h5 class="treck-text">News</h5>
              </div>
            </li>
          </ul>
      </nav>
    <div class="searchBar">
      <input type="text" placeholder="Cosa stai cercando">
      <i id="iconaSearch" class="bi bi-angle-right"></i>
    </div>
    <div class="filter">
      <p>Ordina per</p>
      <button type="button">
        <i class="bi bi-check"></i>
      </button>
      
    </div>
  </div>
    <div class="news_1">
        <img src="../../assets/images/newsImage1.jpg" alt="News image 1" class="news_1_image">
        <div class="news_1_text">
            <h2 class="h2bold">Nuovo corso incredibbile!</h2>
            <h4>C'è un nuovo corso incredibbile all'ITS non puoi mancarlo, puoi trovare tutto quello che vuoi, dai dolci alle torte salate, ciao e grazie per il tuo contributo.
                Leggendo questo c'è il 100% di probabilità che ti si brucerà un neurone ciao.
            </h4>
            <button type="button" class="btn detailButton">
              Scopri di più <i></i>
            </button>
        </div>
    </div>
    <div class="news_1">
      <img src="../../assets/images/newsImage1.jpg" alt="News image 1" class="news_1_image">
      <div class="news_1_text">
          <h2 class="h2bold">Nuovo corso incredibbile!</h2>
          <h4>C'è un nuovo corso incredibbile all'ITS non puoi mancarlo, puoi trovare tutto quello che vuoi, dai dolci alle torte salate, ciao e grazie per il tuo contributo.
              Leggendo questo c'è il 100% di probabilità che ti si brucerà un neurone ciao.
          </h4>
      </div>
  </div>
  <div class="news_1">
    <img src="../../assets/images/newsImage1.jpg" alt="News image 1" class="news_1_image">
    <div class="news_1_text">
        <h2 class="h2bold">Nuovo corso incredibbile!</h2>
        <h4>C'è un nuovo corso incredibbile all'ITS non puoi mancarlo, puoi trovare tutto quello che vuoi, dai dolci alle torte salate, ciao e grazie per il tuo contributo.
            Leggendo questo c'è il 100% di probabilità che ti si brucerà un neurone ciao.
        </h4>
    </div>
</div>
<div class="news_1">
  <img src="../../assets/images/newsImage1.jpg" alt="News image 1" class="news_1_image">
  <div class="news_1_text">
      <h2 class="h2bold">Nuovo corso incredibbile!</h2>
      <h4>C'è un nuovo corso incredibbile all'ITS non puoi mancarlo, puoi trovare tutto quello che vuoi, dai dolci alle torte salate, ciao e grazie per il tuo contributo.
          Leggendo questo c'è il 100% di probabilità che ti si brucerà un neurone ciao.
      </h4>
  </div>
</div>
<div id="pagination_news">
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#paginations_news" tabindex="-1"><i class="pi pi-arrow-left"></i> Pagina precedente</a>
    </li>
    <li class="page-item"><a class="page-link" href="#paginations_news">1</a></li>
    <li class="page-item"><a class="page-link" href="#paginations_news">2</a></li>
    <li class="page-item"><a class="page-link" href="#paginations_news">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#paginations_news">Pagina successiva  <i class="pi pi-arrow-right"></i></a>
    </li>
  </ul>
</nav>
</div>
</div>