<div class="news_list">
    <div class="news_wallpaper">
        <figure>
            <img src="../../assets/images/newsWallpaper.jpg" alt="News wallpaper" class="news_wallpaper_image">
            <figcaption><h3 class="news_wallpaper_title h3bold">TUTTE LE NEWS</h3></figcaption>
        </figure>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <div class="treck_container1">
              <h5 class="treck-text">Home</h5>
            </div>
          </li>
          <li class="page-item">
            <div class="treck">
              <i class="pi pi-angle-right"></i>
            </div>
          </li>
          <li class="page-item">
            <div class="treck_container">
              <h5 class="treck-text">News</h5>
            </div>
          </li>
        </ul>
    </nav>
    <div class="news_1">
        <img src="../../assets/images/newsImage1.jpg" alt="News image 1" class="news_1_image">
        <div class="news_1_text">
            <h2 class="h2bold">Nuovo corso incredibbile!</h2>
            <h4>C'è un nuovo corso incredibbile all'ITS non puoi mancarlo, puoi trovare tutto quello che vuoi, dai dolci alle torte salate, ciao e grazie per il tuo contributo.
                Leggendo questo c'è il 100% di probabilità che ti si brucerà un neurone ciao.
            </h4>
        </div>
    </div>
</div>